.page-cover .container{position: relative;}
a {
  text-decoration: none;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.main-navbar .navbar-nav li .dropdown-menu {
  top: 83px;
}
.main-navbar .navbar-nav li .dropdown-menu.dropdown-menu-right {
  right: 0;
  left: auto;
}
#myOverlay form{display: flex;justify-content: center;}
#myOverlay form>div{width: 100%;}
#popup-ad .modal-body .close {
  top: 9px;
  right: 5px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-navbar .navbar-nav > li > a .fa-angle-down {
  margin-top: 3px;
}
.navbar-toggler {
  border: 0;
  color: #000000;
}
.form-group {
  margin-bottom: 1rem;
}
@media (min-width: 1200px)
{.main-navbar .navbar-search-link > li:last-child {
    margin-top: 0px;
}
.container, .container-lg, .container-md, .container-sm, .container-xl {
  max-width: 1320px;
}
}

.row>.owl-carousel {padding: 0;}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.side-bar .detail-block table tr:last-child td {
  background: #333;
}

.float-left{float: left;}
.float-right{float: right;}

.custom-form button {
  width: 100%;
}








/* Admin panel */
.position-absolute{position: absolute !important;}
