/* Password Toggle Eye Icon Styles */
.password-toggle-wrapper {
    position: relative;
    width: 100%;
    display: block;
}

.password-toggle-wrapper input[type="password"],
.password-toggle-wrapper input[type="text"] {
    padding-right: 45px !important;
    width: 100%;
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
    font-size: 18px;
    z-index: 10;
    transition: color 0.3s;
    background: none;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.password-toggle-icon:hover {
    color: #6B46C1;
}

.password-toggle-icon:focus {
    outline: none;
}

.password-toggle-icon i {
    font-size: 16px;
}

/* For input groups (admin login style) */
.input-group .password-toggle-wrapper {
    flex: 1;
    position: relative;
}

.input-group .password-toggle-icon {
    right: 10px;
}

.input-group .password-toggle-wrapper input {
    padding-right: 40px !important;
}

/* For fields with icons on left */
.field .password-toggle-wrapper {
    width: 100%;
    position: relative;
}

.field .password-toggle-icon {
    right: 15px;
}

/* For form-control inputs */
.form-control.password-toggle-wrapper,
.form-group .password-toggle-wrapper {
    position: relative;
    width: 100%;
}

/* Ensure proper positioning in various containers */
.form-group .password-toggle-wrapper {
    position: relative;
}

.password-toggle-wrapper input.form-control {
    padding-right: 45px !important;
}
